<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>

<body>
	<h1>Landing Page</h1>
	{% if not user.is_authenticated %}
	<a href="{%url 'homepage:loginpage' %}">Click here</a>
	{% endif %}
</body>
