<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>

<body>
	<h1>Menu</h1>
	{% if user.is_authenticated %}
	<h3>Welcome onboard, {{ user.username }}!</h3>
	<form class="logout-link" action="{%url 'homepage:logoutpage' %}" method="post">
		{% csrf_token %}
		<button type="submit">Logout</button>
	</form>
	{% endif %}
	
</body>
